.Dashboard {
  background-color: #0D0D0D;
  height: 100vh;
  flex-grow: 1;
}

.sectionOne, .sectionTwo, .sectionThree {
  height: 33vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
